<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">

	<div class="container">
		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md">
					<small class="d-block mb-3 text-muted"
						   style="text-align: left !important;">&copy; <span
							th:text="${containerEnvironment.year}"></span> Azure Pet Store<br/><br/>
						Container: <span
								th:text="${containerEnvironment.containerHostName}"></span><br/>
						Version: <span th:text="${containerEnvironment.appVersion}"></span><br/>
						Date: <span th:text="${containerEnvironment.appDate}"></span><br/>
						Session: <span th:text="${sessionId}"></span>
					</small>
				</div>
				<div class="col-6 col-md">
					<h5>Dog Products</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="/dogbreeds?category=Dog"
							   style="color: #3C7BB7 !important;">Shop by breeds</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Cat Products</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="/dogbreeds?category=Cat"
							   style="color: #3C7BB7 !important;">Shop by breeds</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Fish Products</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="/dogbreeds?category=Fish"
							   style="color: #3C7BB7 !important;">Shop by breeds</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
</div>
</body>
</html>
